  @font-face {
    font-family: "gothamL";
    src: url(../font/Gotham-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "gothamM";
    src: url(../font/Gotham-Medium.ttf) format("truetype");
  }    
html, body, #wrapper {
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
  font-family:gothamL;
  }
.subTitle{
  font-family:gothamM;
    
}
#header{
  background-color:#FB5151;
  color:#fff;
  padding:20px;
  border:1px solid #FB5151;
  height:300px;
  font-size:5vw;
  font-family:gothamM;
  letter-spacing:3px;
  -webkit-text-fill-color: #FB5151; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
#info{
  padding:30px;
  color:#FB5151;
  border:1px solid #FB5151;
  height:300px;
}
#map { 
  border:1px solid #FB5151;
  margin: auto auto;
  height:500px;
}
#chart { 
  border:1px solid #FB5151;
  height:500px;
  padding:30px;
  color:#FB5151;
  
}
.hidden {
	display: none;
}